@font-face {
    font-family: MyFont;
    src: url(font/Lato-Regular.ttf);
}

body {
    margin: 0;
    font-family: MyFont;
    background-color: gray !important;
    width: 100%;
    height: 100%;
}

header {
    background-color: black;
    border-bottom: solid black 2px;
}

.img {
    padding-top: 10px;
    margin: auto;
    width: 100%;
    border-radius: 10px;
}

.img-2 {
    float: right;
    width: 100%;
    border-radius: 10px;
}

.center-header {
    height: 130px;
    display: flex;
}

.left-link {
    text-align: left;
    width: 30%;
}

.header-img {
    float: left;
    width: 75%;
}

.right-link {
    margin: auto 30px;
    text-align: center;
    align-items: center;
    display: block;
    width: 70%;
}

.link {
    background-color: yellow;
    border-radius: 10px;
    border: solid black 2px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: 600;
    padding: 12px 15px;
    margin: 5px;
}

.icon {
    margin: 5px;
}

.block {
    display: block;
    margin: auto;
}

.block-center {
    display: block;
    width: 100%;
    justify-content: center;
    margin: 20px;
}

.block-title {
    text-align: center;
    background-color: yellow;
    border-radius: 10px;
    border: solid black 2px;
    text-decoration: none;
    color: black;
    font-weight: 600;
    padding: 12px 15px;
    margin: auto;
    width: 50%;
}

.under-title {
    text-align: center;
    margin: 40px;
    font-size: 22px;
}

.text { 
    margin: auto;
    width: 80%;
    text-align: center;
    font-weight: 500;
}

footer {
    background-color: black;
    border-top: solid black 2px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-main {
    display: flex;
    width: 60%;
    margin: auto;
}

.footer-left {
    width: 30%;
    display: block;
    color: white;
}

.footer-center {
    width: 40%;
    text-align: center;
    display: block;
    color: white;
}

.footer-right {
    width: 30%;
    text-align: right;
    display: block;
    color: white;
}

.network-title {
    padding-top: 5px;
    color: white;
}

.network-list {
    margin: auto;
    align-items: center;
}
   

.network {
    text-decoration: none;
    color: white;
    margin: 5px;
    display: block;
    align-items: center;
}

.clock {
    margin: auto;
}

@media screen and (min-width: 400px) and ( max-width: 1200px ) {
    
    @font-face {
        font-family: MyFont;
        src: url(font/Poppins-Regular.ttf);
    }
    
    body {
        margin: 5px;
        font-family: MyFont;
        background-image: url('/images/wheel.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 100%;
    }
    
    header {
        background-color: gainsboro;
        border-bottom: solid black 2px;
    }
    
    .img {
        padding-top: 10px;
        margin: auto;
        width: 100%;
        border-radius: 10px;
    }
    
    .img-2 {
        float: right;
        width: 100%;
        border-radius: 10px;
    }
    
    .center-header {
        height: 350px;
        display: flex;
    }
    
    .left-link {
        align-content: left;
        width: 100%;
        transform:
        translateY(150px)
        translateX(70px);
    }
    
    .header-img {
        float: left;
        width: 75%;
    }
    
    .right-link {
        margin: auto;
        text-align: center;
        align-items: right;
        display: block;
        width: 100%;
        padding-top: 20px;
    }
    
    .link {
        background-color: lightblue;
        border-radius: 10px;
        border: solid black 2px;
        text-decoration: none;
        color: black;
        text-transform: uppercase;
        font-weight: 600;
        padding: 12px 15px;
        margin: auto;
        display: block;
        width: 60%;
        align-items: right;
    }
    
    .icon {
        margin: 5px;
    }
    
    .block-center {
        display: inline-block;
        margin: auto;
    }
    
    .block-left {
        margin: 10px;
        display: block;
        width: 100%;
    }
    
    .block-right {
        display: block;
        float: right;
        width: 100%;
    }
    
    .block-title {
        text-align: center;
        background-color: lightblue;
        border-radius: 10px;
        border: solid black 2px;
        text-decoration: none;
        color: black;
        font-weight: 600;
        padding: 12px 15px;
        margin: auto;
        width: 50%;
    }
    
    .under-title {
        text-align: center;
        margin: 40px;
        font-size: 22px;
    }
    
    .text { 
        margin: auto;
        width: 80%;
        text-align: center;
        font-weight: 500;
    }
    
    footer {
        background-color: gainsboro;
        border-top: solid black 2px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    .footer-main {
        display: flex;
        width: 90%;
        margin: auto;
    }
    
    .footer-left {
        width: 30%;
        display: block;
    }
    
    .footer-center {
        width: 40%;
        text-align: center;
        display: block;
    }
    
    .footer-right {
        width: 30%;
        text-align: right;
        display: block;
    }
    
    .network-title {
        padding-top: 5px;
    }
    
    .network-list {
        margin: auto;
        align-items: center;
    }
       
    
    .network {
        text-decoration: none;
        color: black;
        margin: 5px;
        display: block;
        align-items: center;
    }
    
    .clock {
        margin: auto;
    }
    
}